#new-photo {
    .container-fluid {
      height:100%
    }

    #new-photo-form label.error {
      color: red;
    }

    .main-body {
      padding-top: 20px;
      height: 100%;
      background-color: #f8f8f8;
    }

    .col-md-8 {
        background-color: white;
        height: 95%;
        padding-top: 30px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 20px;
    }

    #square {
      margin-right: 0px;
      height: 200px;
      width: 100%;
      background-color: #f1f1f1;
      border-style: dashed;
      border-color: #bfbfbf;
      border-radius: 10px;
    }

    .fas.fa-plus {
      font-size: 70px;
      // padding-top: 25%;
      // padding-left: 37%;
    }

    #square:hover {
      cursor: pointer;
    }

    .col-md-3.upload-button {
        padding-bottom: 20px;
    }

    textarea#photo_description {
        height: 140px;
    }

    input#photo_attachment {
      display: none;
    }
}

