#new-photo {

    #new-photo-form label.error {
      color: red;
    }

    #square {
      margin-right: 0px;
      height: 150px;
      width: 150px;
      background-color: #f1f1f1;
      border-style: dashed;
      border-color: #bfbfbf;
      border-radius: 10px;
    }

    .fas.fa-plus {
      font-size: 50px;
      padding-top: 33%;
      padding-left: 35%;
    }

    #square:hover {
      cursor: pointer;
    }

    .col-md-3.upload-button {
        padding-bottom: 20px;
    }

    textarea#photo_description {
        height: 140px;
    }

    input#photo_attachment {
      display: none;
    }
}

